<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean name="stu" class="org.example.Student">
        <!-- first way to declared value-->
        <!--<property name="id">
        <value>1</value>
    </property>
    <property name="name">
        <value>Ram</value>
    </property>
    <property name="rollNO">
        <value>123</value>
    </property>-->
        <!--Second way-->
        <property name="id" value="1"/>
    <property name="name" value="Ram"/>
    <property name="rollNO" value="123"/>
    </bean>
<!--    Third way-->
   <!-- <bean name="stu" class="org.example.Student" p:id="1" p:name="Harsh" p:rollNO="123"/>-->
</beans>